[submodule "external/python-urx"]
	path = external/python-urx
	url = https://github.com/chen01yx/python-urx.git
[submodule "external/batch_urdf"]
	path = external/batch_urdf
	url = https://github.com/chen01yx/batch_urdf.git
[submodule "external/bpycv"]
	path = external/bpycv
	url = https://github.com/chen01yx/bpycv.git
[submodule "external/Paint-it"]
	path = external/Paint-it
	url = https://github.com/Bowie375/Paint-it.git
